body{
    margin: 0;
    padding: 0;   
}
input{
    margin: 10px 0; 
 }
 .inner{
    margin: 10px 0;
 }
.body{
    margin: 0 auto;
    width: 700px;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
}