.doctor {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 100px auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px 30px;
  width: 150px;
}

tr:nth-child(even) {
  background-color: #a0aff157;
  width: fit-content;
}
.bg{
  background-color: rgba(41, 153, 41, 0.514);
}
h4{
  text-align: center;
}
  @media only screen and (max-width: 600px){
    td, th {
      width: 100px;
    }
    tr:nth-child(even) {
      width: fit-content;
    }
  }